<!DOCTYPE html>
<html lang="es">
<head>
	<title>Gestion de la base de datos</title>
	<%- include('../partials/head') %>
	<!-- <link rel="stylesheet" href="/css/dashboard.css" media="all"> -->
	<style>
		html, body, .container {
			height: 100%;
		}
	</style>
</head>
<body>

	<div class="container d-flex flex-column justify-content-between">
	
		<header>
			    <%- include('../partials/header'); %>
		</header>

		<main class="content text-center text-left">

			<%- include('../partials/alerts') %>

			<div class="top_table d-flex justify-content-between align-items-center mt-5 mb-3">

				<!--
				<div class="btn-group">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Opciones
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/member/add">Añadir Nuevo</a>
						<a class="dropdown-item" href="/member/exportpdf">Exportar a PDF</a>
					</div>
				</div>
				-->

				<button id="new_db_backup" class="btn btn-warning">Generar Nuevo</button>
			</div>

			<table class="table text-left">
				<thead>
					<tr>
						<!-- <th scope="col">#</th> -->
						<th scope="col">Nombre</th>
						<th scope="col">Fecha</th>
						<th scope="col">Creador</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody id="backups_table">
					<% backups.forEach(row => {  %>

						<tr>
							<td><%= row.name %></td>
							<td><%= row.created_at %></td>
							<td><%= row.username %></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										...
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="/member/delete_db_backup/<%= row.id %>">Eliminar</a>
									</div>
								</div>
							</td>
						</tr>

					<% }) %>
				</tbody>
			</table>

		</main>

		<footer>
			    <%- include('../partials/footer'); %>
		</footer>
	</div>

	<script src="/js/database.js"></script>
</body>
</html>
