<!DOCTYPE html>
<html lang="es">
<head>
	<title>Exportar todo a PDF</title>
	<%- include('../partials/head') %>
	<link rel="stylesheet" href="/css/login.css" media="all">
</head>
<body>

	<div class="container d-flex flex-column justify-content-between">
	
		<header>
			    <%- include('../partials/header'); %>
		</header>

		<main class="content text-center text-left">

			<h2 class="mb-5">Exportar a PDF</h2>

			<div style="width: 100%;" class="d-flex align-items-center justify-content-end my-4">
				<button type="button" id="new_pdf_btn" class="btn btn-warning">Generar nuevo reporte</button>
			</div>


			<table class="table">
				<thead>
					<tr>
						<!-- <th scope="col">#</th> -->
						<th scope="col">Reporte</th>
						<th scope="col">Fecha</th>
						<th scope="col">Creador</th>
					</tr>
				</thead>
				<tbody id="reports_table_body">
					<% reports.forEach(report => { %>
						<tr>
							<!-- <th scope="row">1</th> -->
							<td><a href="/pdf/<%= report.name %>"><%= report.name %></a></td>
							<td><%= report.created_at %></td>
							<td><%= report.username %></td>
						</tr>
					<% }) %>
					<!-- 
					<tr>
						<td><a href="#">report-2022-03-6.pdf</a></td>
						<td>2022/03/6</td>
						<td>Administrador</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
					-->
				</tbody>
			</table>
<!--
			<h2 class="mb-5">Exportar a PDF</h2>
			<p class="m-auto my-4" style="max-width:70%;">Al precionar el siguiente boton todos los productos que esten actualmente añadidos a la base de datos seran listados en una tabla en PDF para poder ser impreso en el futuro</p>

			<button class="btn btn-danger mt-4">Exportar a PDF</button>
-->

		</main>

		<footer>
			    <%- include('../partials/footer'); %>
		</footer>
	</div>

	<script src="/js/export_pdf_scripts.js"></script>
</body>
</html>
