<!DOCTYPE html>
<html lang="es">
<head>
	<title>Modificar Producto</title>
	<%- include('../partials/head') %>
	<link rel="stylesheet" href="/css/login.css" media="all">
</head>
<body>

	<div class="container d-flex flex-column justify-content-between">
	
		<header>
			    <%- include('../partials/header'); %>
		</header>

		<main class="content text-center text-left">

			<h2 class="my-4">Modoficar producto</h2>

			<%- include('../partials/alerts') %>

			<form class="col-8 m-auto" method="POST">
				<div class="form-group">
					<label for="exampleInputEmail1">Nombre</label>
					<input type="text" value="<%= product.name %>" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				</div>
				<div class="form-group my-5">
					<label for="exampleInputPassword1">Precio Dolares</label>
					<input type="text" value="<%= product.price %>" name="price" class="form-control" id="exampleInputPassword1" placeholder="Precio Dolares">
				</div>

				<div class="form-group my-5">
					<label for="exampleInputPassword1">Cantidad</label>
					<input type="text" value="<%= product.amount %>" name="amount" class="form-control" id="exampleInputPassword1" placeholder="Cantidad">
				</div>

				<div class="form-group my-5">
					<label for="exampleInputPassword1">Descripcion</label>
					<textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">
					<%= product.description %>
					</textarea>
				</div>


				<button type="submit" class="btn btn-primary my-5">Guardar</button>

			</form>

		</main>

		<footer>
			    <%- include('../partials/footer'); %>
		</footer>
	</div>

</body>
</html>
