<!DOCTYPE html>
<html lang="es">
<head>
	<title>Configuraciones</title>
	<%- include('../partials/head') %>
	<style>
		html, body, .container {
			height: 100%;
		}
	</style>
</head>
<body>

	<div class="container d-flex flex-column justify-content-between">
	
		<header>
			    <%- include('../partials/header'); %>
		</header>

		<main class="content">

			<%- include('../partials/alerts') %>


			<% if(user.username == 'admin')  {%>
				<h3>Crear nuevos usuarios</h3>
				<a class="btn btn-warning my-4" href="/member/add_user">Añadir un nuevo usuario</a>
				<a class="btn btn-warning my-4" href="/member/manage_users">Gestionar usuarios</a>
				<hr>

				<h3>Copias de seguridad de la base de datos</h3>
				<a class="btn btn-warning my-4" href="/member/database">Ir</a>
				<hr>
			<% } %>



			<form action="/member/update_dolar_price" method="POST">
				<div class="form-group d-flex flex-direccion-row align-items-center justify-content-center">
					<label class="form-label mr-4" for="dolar_price">Precio del dolar</label>
					<input value="<%= dolar_price %>" style="width: 40%" id="dolar_price" type="text" name="dolar_price" class="form-control">
					<input class="ml-4 btn btn-danger" type="submit" value="Guardar">
				</div>
			</form>
			<hr>
		</main>

		<footer>
			    <%- include('../partials/footer'); %>
		</footer>
	</div>

	<script src="/js/settings.js"></script>
</body>
</html>
